h1{
    text-align: center;

}

#Mario{
    width: 200px;
    position:absolute;
    
    
}

#goomba{
    width: 150px;
    position:absolute;
    top: 400px;
    left: 100px;
}

#baloon{
    width: 350px;
    top: 60px;
    position: absolute;
    right: 640px;
    z-index: 1;
}

#bowser{
    width: 400px;
    position:absolute;
    right: 150px;
    top: 100px;
    border-width: 0px;
    margin-bottom: 0px;
    
            
    
}
.bowser{
    margin-bottom: 0px;
    float: inline-end;
}

.word{
    position: absolute;
    width: 500px;
    font-size: 50px;
    left: 350px;
    z-index: 2;
    top: 40px;
    
}

/*#borda{
    background-color: black;
   border-bottom: black;
    position: absolute;
}*/




