.pokedex {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 0px;
    
  }
  
  .pokedex-buttons-panel {
    color: white;
    display: flex;
    flex-direction: row;
  }
  
  .pokedex-button {
    border-radius: 100px;
    color: white;
    background-color: black;
    height: 50px;
    width: 100px;
  }
  
  .pokedex-button:disabled {
    background-color: #D0D0D0;
  }
  
  .filter-button {
    color: black;
    /* background-color: orange; */
    height: 50px;
    margin: 10px;
    width: 80px;
  }